@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";



/* This is all you. */

[x-cloak] {
    display: none !important;
}

.grain::after {
    content: '';
    @apply absolute inset-0 z-10 ;
    mix-blend-mode: multiply;
    filter: url(#noiseFilter);
}

.grain {
    @apply relative overflow-hidden;
}

@keyframes film {
    from {background-position: 0 0;}
    to {background-position: 1000px 500px; }
}

.animation-film {
    animation: film 1s steps(3, end) infinite;
}

.content {
    p {
        @apply text-lg mb-8 text-gray-200;
    }

    h2, h3, h4 {
        @apply text-white font-bold mb-8;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }
    ul {
        @apply text-gray-900 mb-8 list-disc pl-4;
        li {
            @apply mb-2;
        }
    }
    img {

    }
}

.article > p:first-of-type {
    @apply text-xl font-medium;
}


.hero {
    p {
        @apply text-[32px] tracking-tight leading-tight text-gray-500;
        strong {
            @apply font-bold text-white;
        }
    }
}


.dropdown-content {
    visibility: hidden;
    opacity: 0;
    max-height: 0; /* Für die Animation der Höhe */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, max-height 0.3s ease-in-out;
    overflow: hidden; /* Verhindert, dass Inhalte sichtbar sind, wenn max-height 0 ist */
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    max-height: 500px; /* Oder eine ausreichend große Höhe für den Inhalt */
}